.contact-form {
  margin: 1rem .6rem;
  display: flex;
  justify-content: center;

  .contact-form-inner {
    padding: 1rem 1rem .8rem;
    border-radius: .6rem;
    box-shadow: var(--shadow);

    .form-group-inline {
      display: flex;
      align-items: flex-start;
      gap: 24px;
    }

    .form-group-textarea {
      position: relative;
      margin: 1rem 0 1.2rem;
      width: 100%;

      label {
        position: absolute;
        top: -7px;
        padding: 0px 5px;
        background-color: var(--background);
        left: 10px;
        font-size: .9rem;
        color: var(--background-opposite);
        z-index: 1;
        font-weight: 400;
      }

      textarea {
        position: relative;
        padding: 10px;
        width: 100%;
        border-radius: 4px;
        color: var(--heading);
        background-color: transparent;
        border: 1px solid var(--border);
        border-radius: 5px;
        height: 80px;
        font-size: 1rem;
        margin-bottom: 2.1rem;
        
        &:hover {
          background-color: var(--background);
          outline: none;
        }

        &::placeholder {
          color: var(--gray-soft);
          font-size: .9rem;
        }
      }

      p {
        position: absolute;
        bottom: -24px;
        color: var(--danger);
        right: 0;
      }

    }

    .form-group-input {
      position: relative;
      width: 100%;

      label {
        position: absolute;
        top: -7px;
        padding: 0px 5px;
        background-color: var(--background);
        left: 10px;
        font-size: .9rem;
        color: var(--background-opposite);
        z-index: 1;
        font-weight: 400;
      }

      input {
        position: relative;
        padding: 10px;
        width: 300px;
        border-radius: 4px;
        color: var(--heading);
        background-color: transparent;
        border: 1px solid var(--border);
        border-radius: 5px;
        height: 44px;
        font-size: 1rem;
        margin-bottom: 2.1rem;

        &:hover {
          background-color: var(--background);
          outline: none;
        }

        &::placeholder {
          color: var(--gray-soft);
          font-size: .9rem;
        }

        @media (max-width: 758px) {
          width: 100%;
        }

      }

      input:-webkit-autofill {
        -webkit-text-fill-color: var(--heading);
        -webkit-box-shadow: 0 0 0 100px var(--background) inset;
      }

      p {
        position: absolute;
        bottom: -24px;
        color: var(--danger);
        right: 0;
      }

    }

    .form-group-button {
      margin-top: 1.5rem;
    }
  }
}

@media screen and (max-width: 758px) {

  .contact-form {

    .contact-form-inner {
      width: 100%;

      .form-group-inline {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}