.slider-outer {
  position: fixed;
  top: 0;
  right: -40vw;
  width: 40vw;
  height: 100%;
  border-left: 1px solid var(--text);
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  border-top-left-radius: 8px;
  background-color: var(--background);
  transition: transform 0.5s ease;
  z-index: 101;
  @media (max-width: 1024px) {
    right: -80vw;
    width: 80vw;
  }

  .slider-inner {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}

.slider-outer.open {
  transform: translateX(-100%);
  z-index: 101;
}

.slider-exit {
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background-color: var(--background-opposite);
  border-radius: 50%;
  padding: 4px;
}

.slider-bg {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(20, 22, 27, 0.5);
  animation: fadeIn 0.5s forwards;
  z-index: 100;
}

@keyframes slideIn {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
